.DS_Store
.php_cs.dist
/*.sql
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
*.map

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

/var/*
/vendor/*


*.txt
*.md
.travis.yml
*.sample
/app/etc/*
!/app/etc/config.php
/app/autoload.php
/app/bootstrap.php
/app/functions.php
/app/.htaccess
/app/packages
bin/*
dev/*
lib/*
phpserver/*
pub/*
setup/*
.htaccess
.php_cs
.user.ini
/index.php

auth.json
!pub/stores/

/.mina_git_revision
/.vscode/settings.json
/generated/
/.directory
/package.json
/package-lock.json
!/pub/errors/
*.directory
/vendor/

/.editorconfig
/update/*
/pub/*
/composer.lock
/composer.json
/app/etc/config.php
/app/code/*
!/app/code/Extmage
